# Created by https://www.toptal.com/developers/gitignore/api/vagrant
# Edit at https://www.toptal.com/developers/gitignore?templates=vagrant

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

### Docker Token ###
docker_token

# End of https://www.toptal.com/developers/gitignore/api/vagrant

### docker_token ###
docker_token
